<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Timekeeping"
            id="com.packtpub.e4.clock.ui">
      </category>
      <view
            name="Sample View"
            inject="true"
            icon="icons/sample.png"
            category="com.packtpub.e4.clock.ui"
            class="com.packtpub.e4.clock.ui.views.SampleView"
            id="com.packtpub.e4.clock.ui.views.SampleView">
      </view>
   </extension>

</plugin>
